<div class="container container-medias">
    <div class="grid">
        <div class="buttoncontainer">
            <a class="button whatsapp" target="_blank" href="https://wa.me/5493854185212">
            <i style="padding-left: 15px; padding-top: 15px;" class="bi bi-whatsapp"></i>
            </a>
        </div>
        <div class="buttoncontainer">
            <a class="button linkedin" target="_blank" href="https://www.linkedin.com/in/benjam%C3%ADn-paz-58782b224/">
            <i style="padding-right: 15px; padding-top: 15px;" class="bi bi-linkedin"></i>
            </a>
        </div>
        <div class="buttoncontainer">
            <a class="button github" target="_blank" href="https://github.com/benjapaz57">
            <i style="padding-left: 15px; padding-bottom: 15px;" class="bi bi-github"></i>
            </a>
        </div>
        <div class="buttoncontainer">
            <a class="button mailme" target="_blank" href="mailto:be.dev4@gmail.com">
            <i style="padding-right: 15px; padding-bottom: 15px;" class="bi bi-envelope"></i>
            </a>
        </div>
    </div>
</div>