<div class="container d-grid contenedor">
    <div class="d-flex">
        <div class="col-sm-4 me-2">
            <div class="carta">
                <h3 class="nombre-card text-center">Whatsapp</h3>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="carta">
                <h3 class="nombre-card text-center">LinkedIn</h3>
            </div>
        </div>
        <div class="col-sm-4 ms-2">
            <div class="carta">
                <h3 class="nombre-card text-center">Email</h3>
            </div>
        </div>
    </div>
</div>