.contenedor{
    height: 100vh;
    display: flex;
    align-items: center;
}
.carta{
    height: 420px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nombre-card{
    color: blue;
    text-align: center;
}
