<div class="header">

    <div class="inner-header flex mb-5">
      <h1 class="bold">Hi, I'm Benjamin Paz, Front-end Developer.</h1>
    </div>
    
    <!--Waves Container-->
    <div>
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
    <defs>
    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
    </defs>
    <g class="parallax">
    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
    <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
    </g>
    </svg>
    </div>
    <!--Waves end-->
    
</div>
<!--Header ends-->

<h2 class="text-center m-5">My Skills</h2>

<!-- tarjetas-->
<section id="div-cartas">
  <div class="container mx-auto" style="background-color: white;">
    <div class="row titulocard mt-5">
      <div class="col-6"><h5 class="h5card">Responsive Web Design</h5></div>
      <div class="col-6"><h5 class="h5card">JavaScript Algorithms and Data Structures</h5></div>
    </div>
  
    <div class="container rect1">
      <div class="row textocard1">
        <div class="col-5">
          <p class="card-text txt-card card-title">FreeCodeCamp (2023)</p>
          <p class="card-text txt-card">I learned the fundamentals of web programming. We used different languages such as HTML, CSS, and Media Queries, writing 100% native code for creating projects and ensuring that webpages respond to different screen sizes. 
              <a href="https://www.freecodecamp.org/certification/fcc50b869c8-6c96-4be1-aa1e-8564b8746fdb/responsive-web-design" class="text-warning">View Certificate</a>
          </p>
        </div>
        <div class="col-5 rect1text">
          <p class="card-text txt-card card-title">FreeCodeCamp (2023)</p>
          <p class="card-text txt-card" >I learned the fundamentals of JavaScript, including variables, arrays, objects, loops, functions, and the DOM. Additionally, I gained knowledge in Object-Oriented Programming (OOP), Functional Programming, and algorithmic thinking.
              <a href="https://www.freecodecamp.org/certification/fcc50b869c8-6c96-4be1-aa1e-8564b8746fdb/javascript-algorithms-and-data-structures" class="text-warning">View Certificate</a>
          </p>
        </div>
      </div>
    </div>
    <br>
    <br>
    
    <div class="row titulocard2">
      <div class="col-5"><h5 class="h5card">Front End Development Libraries</h5></div>
      <div class="col-5 ms-2"><h5 class="h5card ti2">IT Support</h5></div>
    </div>
    <div class="container rect2">
      <div class="row textocard2">
        <div class="col-5">
          <p class="card-text txt-card card-title">FreeCodeCamp (2023)</p>
          <p class="card-text txt-card">I learned how to style websites quickly using Bootstrap and adding logic and extending them with Sass. I gained experience in creating powerful Single Page Applications (SPAs) with React and Redux.
              <a href="https://www.freecodecamp.org/certification/fcc50b869c8-6c96-4be1-aa1e-8564b8746fdb/front-end-development-libraries" class="text-warning">View Certificate</a>
          </p>
        </div>
        <div class="col-5 rect2text">
          <p class="card-text txt-card card-title">Google Certificate - Coursera (In Progress)</p>
          <p class="card-text txt-card">I learned skills to assemble computers, configure networks, install software, and deliver effective customer support. Learn to manage the entire support process, from diagnosing issues to troubleshooting and debugging.
          </p>
        </div>
      </div>
  
    </div>
  
    <br>
    <br>
    <br>
  </div>
</section>
<!-- termina tarjeta-->

<!-- Experience -->
<h2 class="text-center mb-4">My Experience</h2>
<ul class="timeline mb-4">
	<!-- Item 1 -->
	<li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag">Freelancer</span>
				<span class="time-wrapper"><span class="time">2023 - present</span></span>
			</div>
			<div class="desc">I adapt to each client, picking the best content for their marketing strategies and helping them find the perfect solution. I build scalable websites, optimizing both time and money along the way</div>
		</div>
	</li>
	<!-- Item 2 -->
	<li>
		<div class="direction-l">
			<div class="flag-wrapper">
				<span class="flag">Tribunal de Cuentas</span>
				<span class="time-wrapper"><span class="time">August 2023 - present</span></span>
			</div>
			<div class="desc">I work at the Tribunal de Cuentas of Santiago del Estero, specializing in front-end programming. I developed a frequently asked questions system to improve internal communication. I also handle computer maintenance and set up equipment for virtual meetings</div>
		</div>
	</li>
</ul>
<!-- termina experience -->