<div class="header">

    <div class="inner-header flex mb-5">
      <h1>{{"welcome" | translate}}</h1>
      <h1>{{"welcome-1" | translate}}</h1>
    </div>
    
    
    <!--Waves Container-->
    <div>
      <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
      <defs>
      <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
      </defs>
      <g class="parallax">
      <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
      <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
      <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
      <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
      </g>
      </svg>
    </div>
    <!--Waves end-->
    
</div>
<!--Header ends-->

<h2 class="text-center m-5">
  {{"skills" | translate}}
</h2>

<!-- tarjetas-->
<section id="div-cartas">
  <div class="container mx-auto" style="background-color: white;">
    <div class="row titulocard mt-5">
      <div class="col-6"><h5 class="h5card">{{"skills-1" | translate}} </h5></div>
      <div class="col-6"><h5 class="h5card">{{"skills-2" | translate}} </h5></div>
    </div>
  
    <div class="container rect1">
      <div class="row textocard1">
        <div class="col-5">
          <p class="card-text txt-card card-title">FreeCodeCamp (2023)</p>
          <p class="card-text txt-card"> {{"skills-1-1" | translate}}
              <a href="https://www.freecodecamp.org/certification/fcc50b869c8-6c96-4be1-aa1e-8564b8746fdb/responsive-web-design" class="text-warning">{{"view-cert" | translate}}</a>
          </p>
        </div>
        <div class="col-5 rect1text">
          <p class="card-text txt-card card-title">FreeCodeCamp (2023)</p>
          <p class="card-text txt-card" >{{"skills-2-2" | translate}}
              <a href="https://www.freecodecamp.org/certification/fcc50b869c8-6c96-4be1-aa1e-8564b8746fdb/javascript-algorithms-and-data-structures" class="text-warning">{{"view-cert" | translate}}</a>
          </p>
        </div>
      </div>
    </div>
    <br>
    <br>
    
    <div class="row titulocard2">
      <div class="col-5"><h5 class="h5card">{{"skills-3" | translate}}</h5></div>
      <div class="col-5 ms-2"><h5 class="h5card ti2">{{"skills-4" | translate}}</h5></div>
    </div>
    <div class="container rect2">
      <div class="row textocard2">
        <div class="col-5">
          <p class="card-text txt-card card-title">FreeCodeCamp (2023)</p>
          <p class="card-text txt-card">
              {{"skills-3-3" | translate}}
              <a href="https://www.freecodecamp.org/certification/fcc50b869c8-6c96-4be1-aa1e-8564b8746fdb/front-end-development-libraries" class="text-warning">{{"view-cert" | translate}}</a>
          </p>
        </div>
        <div class="col-5 rect2text">
          <p class="card-text txt-card card-title">Google Certificate - Coursera (In Progress)</p>
          <p class="card-text txt-card">
            {{"skills-4-4" | translate}}
          </p>
        </div>
      </div>
  
    </div>
  
    <br>
    <br>
    <br>
  </div>
</section>
<!-- termina tarjeta-->

<!-- Experience -->
<h2 class="text-center mb-4">{{"exp" | translate}}</h2>
<ul class="timeline mb-4">
  <!-- Item 3 -->
	<li>
		<div class="direction-l">
			<div class="flag-wrapper">
				<span class="flag">{{"exp-1" | translate}}</span>
				<span class="time-wrapper"><span class="time">{{"exp-1-date" | translate}}</span></span>
			</div>
			<div class="desc">{{"exp-1-info" | translate}}</div>
		</div>
	</li>
	<!-- Item 2 -->
	<li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag">{{"exp-2" | translate}}</span>
				<span class="time-wrapper"><span class="time">{{"exp-2-date" | translate}}</span></span>
			</div>
			<div class="desc">{{"exp-2-info" | translate}}</div>
		</div>
	</li>
	<!-- Item 3 -->
	<li>
		<div class="direction-l">
			<div class="flag-wrapper">
				<span class="flag">{{"exp-3" | translate}}</span>
				<span class="time-wrapper"><span class="time">{{"exp-3-date" | translate}}</span></span>
			</div>
			<div class="desc">{{"exp-3-info" | translate}}</div>
		</div>
	</li>
</ul>
<!-- termina experience -->