<section class="light content">
	<div class="container py-2">
		<div class="h1 text-center text-dark" id="pageHeaderTitle">My Projects</div>

		<article class="postcard light blue">
			<a class="postcard__img_link" href="https://fundacion-potenciar.web.app/" target="_blank">
				<img class="postcard__img" src="https://i.postimg.cc/C5C3Zv0Q/potenciar-1.png" alt="Image Title" />
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title blue"><a href="https://fundacion-potenciar.web.app/" target="_blank">Fundacion Potenciar</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>2023
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
				<ul class="postcard__tagbox">
					<li class="tag__item text-light"><i class="fas fa-tag mr-2"></i>HTML</li>
					<li class="tag__item text-light"><i class="fas fa-tag mr-2"></i>CSS</li>
					<li class="tag__item text-light"><i class="fas fa-tag mr-2"></i>Bootstrap</li>
                    <li class="tag__item text-light"><i class="fas fa-tag mr-2"></i>Angular</li>
                    <li class="tag__item text-light"><i class="fas fa-tag mr-2"></i>Firebase</li>
				</ul>
			</div>
		</article>
		<article class="postcard light blue">
			<a class="postcard__img_link" href="https://fundacion-potenciar.web.app/" target="_blank">
				<img class="postcard__img" src="https://i.postimg.cc/YCXwfyFc/radiadores.png" alt="Image Title" />
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title blue"><a href="https://fundacion-potenciar.web.app/" target="_blank">Radiadores Lavalle</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>2024
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
				<ul class="postcard__tagbox">
					<li class="tag__item text-light"><i class="fas fa-tag mr-2"></i>HTML</li>
					<li class="tag__item text-light"><i class="fas fa-tag mr-2"></i>CSS</li>
					<li class="tag__item text-light"><i class="fas fa-tag mr-2"></i>Bootstrap</li>
                    <li class="tag__item text-light"><i class="fas fa-tag mr-2"></i>Angular</li>
                    <li class="tag__item text-light"><i class="fas fa-tag mr-2"></i>Firebase</li>
				</ul>
			</div>
		</article>
        <article class="postcard light blue">
			<a class="postcard__img_link" href="https://faqs-tcse.firebaseapp.com/home" target="_blank">
				<img class="postcard__img" src="https://i.postimg.cc/8CjgyBd7/faqs-tcse.png" alt="Image Title" />
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title blue"><a href="https://faqs-tcse.firebaseapp.com/home" target="_blank">Faq's TCSE</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>2024
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
				<ul class="postcard__tagbox">
					<li class="tag__item"><i class="fas fa-tag mr-2"></i>HTML</li>
					<li class="tag__item"><i class="fas fa-tag mr-2"></i>CSS</li>
					<li class="tag__item"><i class="fas fa-tag mr-2"></i>Bootstrap</li>
                    <li class="tag__item"><i class="fas fa-tag mr-2"></i>Angular</li>
                    <li class="tag__item"><i class="fas fa-tag mr-2"></i>Firebase</li>
				</ul>
			</div>
		</article>
	</div>
</section>