<nav class="navbar navbar-expand-lg  navegador fixed-top d-flex justify-content-evenly">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="text-center">
        <button type="button" class="btn btn-secondary ms-2 btn-sm btn-resume" [class.active]="currentLang === 'en'" (click)="translateText('en')">En</button>
        <button type="button" class="btn btn-secondary ms-2 btn-sm" [class.active]="currentLang === 'es'" (click)="translateText('es')">Es</button>
      </div>
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0 ">
        <li class="nav-item ms-2">
          <a class="nav-link text-center" routerLink="/Home" routerLinkActive="active" ariaCurrentWhenActive="page" href="/home">{{"navhome" | translate}}</a>
        </li>
        <li class="nav-item ms-2">
          <a class="nav-link text-center" routerLink="/projects" routerLinkActive="active" ariaCurrentWhenActive="page" href="/projects">{{"navprojects" | translate}}</a>
        </li>
        <li class="nav-item ms-2">
          <a class="nav-link text-center" routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page" href="/contact">{{"navcontact" | translate}}</a>
        </li>
      </ul>
      <div class="text-center margen">
        <a href="assets/Benjamin_Paz_Resume.pdf" download>
          <button class="btn btn-secondary ms-2">
            CV 
            <i class="bi bi-cloud-arrow-down"></i>
          </button>
        </a>
      </div>
    </div>
  </div>
</nav>

<main class="contenido">
  <router-outlet />
</main>

<footer class="text-center">
  <p>
    {{"footer" | translate}}
  </p>
</footer>

