body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100vw;
}
.container {
    padding-right: 0 !important;
    padding-left: 0 !important;
    max-width: 100% !important;
}
.contenido {
    width: 100%;
    overflow-x: hidden;
}
.navegador{
    background-color: rgba(78, 78, 78, 0.507) !important;
}
nav ul li a{
    color: whitesmoke;
}
nav ul li a:hover{
    color: #97defd;
}
.navbar-toggler {
    border-color: white;
    margin: 0 5px;
}

.navbar-toggler-icon {
    filter: brightness(0) invert(1);
}
.active {
    font-weight: bold;
    color: #97defd; 
  }
footer{
    background-color: rgba(78, 78, 78, 0.507) !important;
}
footer p{
    padding: 10px 0;
    margin-top: 5px;
    margin-bottom: 0;
    color: white;
}
footer p:hover{
    color: #97defd;
}
/* .botones {
    padding: 1rem 0.8rem;
    right: 0;
    position: fixed;
    bottom: 15%;
    background-color: #97defda1;  
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
} */
 @media (min-width: 1300px){
    .margen{
        margin-right: 10px;
    }
 }